<%- include('partials/header') -%>
<form action="/delete-details" method="POST">
    <div class="container">
        <div class="textField">
            <input name="delete" id="delete" type="text" placeholder="Enter Id to delete" required>
        </div>
        <div class="textField">
            <button type="submit" class="loginButton">
                Delete
            </button>
        </div>
    </div>
</form>
<%- include('partials/footer') -%></div>