<%- include('partials/header') -%>
 <form action="/login" method="GET">
    <div class="container">
        <div class="textField">
            <button type="submit" class="loginButton">
                login
            </button>
        </div>
    </div>
 </form>
<%- include('partials/footer') -%>