<%- include('partials/header') -%>
 <form action="/form" method="GET">
    <div class="container">
        <div class="textField">
            <button type="submit" class="loginButton menubutton">
                Add document
            </button>
        </div>
    </div>
 </form>
 <form action="/form/delete-details" method="GET">
    <div class="container">
        <div class="textField">
            <button type="submit" class="loginButton menubutton">
                Delete document
            </button>
        </div>
    </div>
 </form>
<%- include('partials/footer') -%>